@import url("http://fonts.cdnfonts.com/css/product-sans");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.navbar-buttons button,
.hero-text-cta button {
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 10px 24px;
  margin: 8px 0px 8px 0px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #d1d0d0;
  cursor: pointer;
}
.navbar-buttons button:focus,
.hero-text-cta button:focus {
  border: 2px solid #1a73e8;
}
.navbar-buttons .btn-outline-blue,
.hero-text-cta .btn-outline-blue {
  color: #1a73e8;
  background: #fff;
}
.navbar-buttons .btn-outline-blue:hover,
.hero-text-cta .btn-outline-blue:hover {
  background: #a5ccff21;
  border: 1px solid #1a73e8;
}
.navbar-buttons .btn-blue,
.hero-text-cta .btn-blue {
  color: #fff;
  background: #1a73e8;
  border: none;
  margin-left: 5px;
  transition: background 0.3s ease;
}
.navbar-buttons .btn-blue:hover,
.hero-text-cta .btn-blue:hover {
  background: #145ec0;
}

nav {
  position: sticky;
  padding: 0 12px;
  width: 100%;
  top: 0;
  background-color: #fff;
}
nav.scrolled {
  box-shadow: -6px 1px 2px 0 rgba(54, 64, 67, 0.3), -6px 1px 3px 1px rgba(54, 64, 67, 0.15);
}

.navbar-container {
  display: flex;
  align-items: center;
  max-height: 64px;
}
.navbar-container .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  cursor: pointer;
}
.navbar-container .navbar-brand:hover path {
  fill: #000;
}
.navbar-container .navbar-brand img {
  height: 33px;
  width: 33px;
}
.navbar-container .navbar-brand svg {
  margin-left: 11px;
  margin-bottom: -5px;
}
.navbar-container .navbar-brand p {
  margin-left: 5px;
  font-size: 22px;
  color: #5f6368;
  font-family: "Product Sans", sans-serif;
}
.navbar-container .navbar-links {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-container .navbar-links ul {
  display: flex;
  align-items: center;
}
.navbar-container .navbar-links ul a {
  text-decoration: none;
}
.navbar-container .navbar-links ul li {
  list-style-type: none;
  color: #5f6368;
  font-size: 14px;
  letter-spacing: 0.25px;
  padding: 15px 15px;
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
}
.navbar-container .navbar-links ul li:hover {
  background-color: #f8f9fa;
  padding: 15px 15px;
  border-radius: 4px;
}

.container {
  margin: 0 300px;
}

.hero {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(12, minmax(5px, 1fr));
  padding: 80px 0px 0px;
}
.hero .hero-text {
  grid-column: -13/-9;
  align-self: center;
}
.hero .hero-text h1 {
  font-family: "Google Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #202124;
  letter-spacing: -0.5;
}
.hero .hero-text .hero-text-p {
  font-family: "Roboto", sans-serif;
  color: #5f6368;
  line-height: 26px;
  padding: 16px 0px 24px;
}
.hero .hero-image {
  grid-column: -9/-1;
}

/*# sourceMappingURL=style.css.map */
