//Font-sizes
@import url("http://fonts.cdnfonts.com/css/product-sans");

$navlinks-font-size: 17px;
$heading-font-size: 48px;
$heading-p-size: 18px;

//Font- Families
$navlinks-font: "Product Sans", sans-serif;

//Colors
$navlinks-dark: #202124;
