//Font-sizes
@import url("http://fonts.cdnfonts.com/css/product-sans");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap");

$navlinks-font-size: 14px;
$heading-font-size: 48px;
$heading-p-size: 18px;

//Font- Families
$navlinks-font: "Product Sans", sans-serif;
$navlinks-font-2: "Google Sans", sans-serif;

//Colors
$navlinks-dark: #202124;
$navlinks-dark-2: #5f6368;
$button-blue: #1a73e8;
